.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
    background-color: lightgrey;
    text-align: center;
}

.app-header .app-header--title {
    font-size: 32px;
    padding-left: 5px;
    /* align: center; */
}

body {
    background-color: lightgrey;
}

.plot-img {
     max-width: 100%;
     height: auto;
}


.dropdown-container {
     height: 100%;
     width: 100%;
     ! background-color: purple;
}

.Select-control {
    background-color: rgb(211, 211, 211) !important;
    color:black;
  }
  
.Select-menu-outer {
    background-color: rgb(0, 255, 0);
    color: black;
}

.Select-value-label {
    color: black !important;
}


.file-url {
     font-size: 20px;
     background-color: lightgrey;
     border: none;
     padding-left: 10px;
}

.info-text {
     font-size: 20px;
     background-color: lightgrey;
     border: none;
}

.action-button {
     font-size: 20px;
     background-color: #0B6298;
     color: white;
     width: 200px;
     padding: 10px 5px;
}

.spreadsheet-entire {
     background-color: rgb(211,211,211)  ! lightgrey;
}
